/* google font link  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* shared design  */
body {
  font-family: "Lato", sans-serif;
}
.btn-primary {
  color: #fff;
  font-size: 15px;
  line-height: normal;
  border-radius: 8px;
  background: #e55473;
  padding: 13px 15px 13px 15px;
  border: none;
  cursor: pointer;
}

.section-title {
  color: #272727;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
}
.section-pra {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 15px;
  width: 400px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 auto;
  margin-top: 11px;
}

.fixed-size {
  width: 1100px;
  margin: 0 auto;
}

/* banner style start from here  */
header {
  background-color: #e554731a;
}

.banner {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}
.banner img {
  width: 350px;
  padding-top: 39px;
}

.banner-content-title {
  font-size: 57px;
  color: #272727;
}

.banner-content {
  max-width: 500px;
  margin-top: 43px;
}
.content-pra {
  color: rgba(39, 39, 39, 0.6);
  font-size: 15px;
  line-height: 28px;
  margin: 30px 0px 30px 0px;
}

.feature-flower-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.individual-flower1,
.individual-flower2,
.individual-flower3 {
  width: 350px;
  border-top-left-radius: 130px;
  border-top-right-radius: 131px;
  height: 391px;
  text-align: center;
}
.individual-flower1 a,
.individual-flower2 a,
.individual-flower3 a {
  display: block;
  margin-top: -24px;
}
.individual-flower1 img,
.individual-flower2 img,
.individual-flower3 img {
  max-width: 237px;
  margin-top: 80px;
  padding: 32px;
}
.individual-flower1 {
  background-color: #f2dee7;
}
.individual-flower2 {
  background-color: #d9eff1;
}
.individual-flower3 {
  background-color: #e3ebdb;
}
.individual-flower1 img {
  margin-top: 31px;
}

.individual-flower2 img {
  margin-bottom: 41px;
}
.individual-flower3 img {
  margin-top: 3px;
}

.feature-flowers {
  padding-top: 35px;
}

/* extra info section start from here  */
.extra-info-section {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  background-color: #2727270d;
  border-radius: 10px;
  margin-top: 96px;
  padding: 38px 2px;
}
.extra-info-section p {
  color: rgba(39, 39, 39, 0.8);
  text-align: center;
  font-size: 14px;
  line-height: 35px;
}
.extra-info-section img {
  width: 63px;
}
.extra-info-section.fixed-size span {
  text-align: center;
}

/* extra info section end in here  */

/* Hot deal section style start from here  */
.hot-deal {
  background-color: #e554731a;
}
.hot-deal-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 64px;
  padding: 25px;
}
.hot-deal-wrapper.fixed-size img {
  max-width: 211px;
}
.btn-signup {
  display: block;
  margin: 0 auto;
  margin-top: 21px;
}
.hot-deal-content {
  margin-top: 48px;
}
.hot-deal-highlight {
  color: #e55473;
}
/* Hot deal section style end in here  */

/* instagram section style start from here  */
.insta-image {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 24px;
}
.insta-image img {
  max-width: 200px;
  margin-right: 21px;
}
.insta-section {
  margin-top: 50px;
}
/* instagram section style end in here  */
